.App {
  text-align: center;
}

.header {
  background-color: white;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-component{
  padding-top: 5%;
  width: 50%;
}

.footer {

}

.step {
  padding-top: 2%;
  width: 80%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  padding-top: 2%;
}

.backStep {
  padding-left: 50%;
}
.nextStep {
}